build
.env
docker/images/nginx/log/*
!docker/images/nginx/log/.gitkeep
docker/images/logstash/pipeline/magento.conf
docker/images/nginx/conf/default.conf
logs/nginx/*
!logs/nginx/.gitkeep
logs/php/*
!logs/php/.gitkeep